src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3bfc0a72-2296-4c95-889f-eef24bdbea38" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c24dc8b1-5174-49f4-b7aa-37d16d4297ec" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="2a3b4c4f-5b28-4577-bac7-0eca82d94981" >
		<http:listener doc:name="Listener" doc:id="763f6335-03f0-4237-9253-5947fdddc424" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="inputLogger" doc:id="fbc7e2f3-19ef-4340-97b2-d32d95f49cdf" message='#[%dw 2.0&#10;output application/json &#10;---&#10;{&#10;	"payload": payload default "",&#10;	"attributes": attributes default ""&#10;}]'/>
		<http:request method="GET" doc:name="Request" doc:id="b3cfcd23-a82d-417d-bdc3-16d00d61c7d8" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
